/* .redbox {
    border: 2px solid red;
} */

.bluebox {
    border: 2px solid blue;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: stretch;
    background-color: #D1D3D4;
}

/* Side nav bar */

#navbar {
    width: 250px;
    height: 100vh;
    background-color: #3A3A3A;
    position: fixed;
}

#logo img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

#logo {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-inline-start: 0px;
}

li a {
  display: block;
  color: #F4F4F4;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #D1D3D4;
  color: #3A3A3A;
}

li a.active {
    background-color: #5B6D61; 
    color: #F4F4F4; 
}

/* Main content in center of page */
#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    margin-left: 250px;
}


#farmImage {
    height: 150px;
}

