
/* Center page content */
#mainContent {
    display: flex;
    justify-content: center;
}

/* Recipe card layout */
.recipeBlock {
    display: flex;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 20px;
    /* Puts image in the center vertically */
    /* align-items: center;  */
}

/* Left image column */
.recipePhoto {
    width: 25%;
}

.recipePhoto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Right content column */
.recipeContent {
    width: 75%;
    padding-left: 20px;
}

.recipeDetails ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recipeDetails ol {
    list-style-type: decimal;
    padding-left: 20px;
}


/* Hidden section */
.recipeDetails {
    display: none;
}

/* Shown when toggled */
.recipeDetails.show {
    display: block;
}
