/* Center page content */
#mainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
}

/* garlic types card layout */
.garlicBlock {
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 20px;
    display: flex;
}


/* Left image column */
.garlicPhoto {
    width: 40%;
}

.garlicPhoto img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


/* Right content column */
.garlicContent {
    width: 60%;
    padding-left: 20px;
}

.garlicDetails ul {
    padding-top: 0;
    padding-left: 20px;
    list-style-type: disc;
}

